@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
}

body{
    height: 100%;
    width: 100%;
}

header{
    background-color: rgb(18, 41, 90);
}

/* Header */
.navbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar_img{
    width: 80px;
    height: auto;
    cursor: pointer;
}

.navbar_img img{
    width: 100%;
    height: 100%;
}

.navbar_container .menu{
    display: flex;
    align-items: center;
    padding-right: 20px;
    list-style: none;
    gap: 25px;
    font-size: 14px;
}

.navbar_container .menu a {
    text-decoration: none;
    color: white;
    padding-right: 12px;
    transition: 2ms ease-in;
    position: relative;
}

.navbar_container .menu button{
    text-decoration: none;
    color: white;
    padding-right: 12px;
    transition: 2ms ease-in;
    position: relative;
}

.navbar_container .menu button:before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: white;
    transition:  all 1.5s ease;
}



.navbar_container .menu a:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: white;
    transition:  all 1.5s ease;
}





.navbar_container .menu button:hover:before{
    width: 100%;
}

.navbar_container .menu a:hover:before{
    width: 100%;
}




/* Main */

.base-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.base-container h1{
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}

.base-container .container-tarefas{
    background-color: rgb(18, 41, 90);
    width: 450px;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-input{
    display: flex;

}

.container-input input{
    width: 100%;
    height: 35px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    outline: none;
}


.container-input a{
    height: 35px;
    border: none;
    border-radius: 5px ;
    background-color: rgb(18, 102, 117);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.container-input button{
    height: 35px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(18, 102, 117);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input a {
    width: 100%;
}

.container-input button{
    width: 30%;
}

.container-input a:hover{
    background-color: rgb(27, 123, 139);
}
.container-input button:hover{
    background-color: rgb(27, 123, 139);
}

.container-input a:hover i {
    color: rgb(48, 163, 54);
}
.container-input button:hover i{
    color: rgb(48, 163, 54);
}

.container-input i {
    margin-right: 5px;
}


.container-lista-tarefas{
    display: flex;
    flex-direction: column;

}

.container-lista-tarefas .tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    background-color: rgb(18, 102, 117);
    padding: 10px;
    border-radius: 10px;
}

.tarefa .btn-tarefas {
    display: flex;
    gap: 15px;
}

.tarefa .btn-tarefas a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.tarefa .btn-tarefas button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.tarefa .btn-tarefas button:hover{
    color: rgb(255, 0, 0);
}

.tarefa .btn-tarefas a:hover{
    color: rgb(255, 251, 0);
}


.container-login{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}

.container-login .input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-login .input-container input{
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
}

.container-login .input-container label{
    font-size: 14px;
}

.container-login button{
    background-color: rgb(18, 102, 117);
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.container-login button:hover{
    background-color: rgb(27, 123, 139);
}

.container-login  a {
    color: rgb(85, 238, 238);
}

.paginate nav div p{
    color: white;
    font-size: 10px;
}

.paginate nav{

    color: white !important;
}

.container-search {
    display: flex;
    color: white;
    font-size: 12px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.container-search input {
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px; 
    margin-right: 5px;
    padding-left: 5px;
    color: black;
}

.container-search button{
    background-color: rgb(18, 102, 117);
    border-radius: 5px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
}

.container-search button:hover{
    background-color: rgb(27, 123, 139);
}


.base-container .container-tarefas .login-register-btn{
    background-color: rgb(18, 102, 117);
    width: 100%;
}

.base-container .container-tarefas .login-register-btn:hover{
    background-color: rgb(27, 123, 139);
}

.base-container .container-tarefas input {
    outline: none;
}

.flash-massage {
    background-color: rgb(18, 102, 117);
    color: white;
    font-size: 14px;
    border-radius: 5px;
}